/* game board table */

#game {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

#board td {
  width: 50px;
  height: 50px;
  border: solid 1px #666;
}

header {
  margin-top: 4em;
  text-align: center;
  width: 100%;
}

span {
  letter-spacing: 0.1em;
}

title {
  letter-spacing: 0.1em;
}

button {
  margin-top: 1em;
  font-size: 0.75em;
  letter-spacing: 0.1em;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  /* TODO: make into circles */
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
}

/* TODO: make pieces red/blue,  depending on player 1/2 piece */

.playerOne {
  background-color: blue;
  color: white;
}

.playerTwo {
  background-color: red;
  color: white;
}

.piece.p1 {
  background-color: blue;
}

.piece.p2 {
  background-color: red;
}
/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
}

#column-top td:hover {
  background-color: gold;
}
